.kanbanContainer {
    display: flex;
    justify-content: space-between;
    align-self: center;
    justify-self: center;
    width: 80%;
    height: 90%;
}

.kanbanBoard {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.kanbanBoard h1 {
    font-size: 1.25rem;
    font-weight: bold;
    max-height: 420px;
}
.kanbanBoardContainer {
    background-color: #fff;
    width: 170px;
    margin-top: 8px;
    border-radius: 10px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.kanbanBoardContainer::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.kanbanBoardContainer::-webkit-scrollbar-thumb {
    background-color: #b1b0b0; /* Cor do "ponteiro" da barra de rolagem */
    border-radius: 5px; /* Borda arredondada do "ponteiro" */
}


.kanbanAddTask {
    display: flex;
    align-items: center;
    gap: 4px;
    border: none;
    padding: 12px;
    color: rgba(0, 0, 0, 0.54);
    font-family: Montserrat;
    font-size: 10px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

/* MODAL */

.kanbanModal {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kanbanModalContent {
    background-color: var(--maincolor);
    padding: 40px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}

.kanbanModalContent h2 {
    font-size: 1.2rem;
}

.kanbanModalContent input {
    border-radius: 5px;
    border: none;
    padding: 4px;

}

.kanbanModalContent button {
    width: 50%;
    padding: 4px;
    color: rgba(0, 0, 0, 0.54);
    background-color: #d9d9d9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.kanbanClose {
    align-self: flex-end;
    cursor: pointer;
}

/* EDIÇÃO DOS CARDS */

.kanbanTask {
    margin-top: 10px;
    border-radius: 5px;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 135px;
}
.kanbanTask p {
    white-space: nowrap;
    max-width: 108px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.kanbanTaskButtons {
    display: flex;
    gap: 2px;
    width: 20%;
    height: auto;
}
.kanbanTaskButtons button {
    background: none;
    border: none;
    cursor: pointer;
}
.kanbanTaskButtons button img{
    width: 100%;
}

/* EDITANDOT TASKS */

.editable-task {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.editable-task input {
    max-width: 108px;
    border-radius: 5px;
    border: none;
    padding: 4px;
}

.editable-task button {
    width: 50%;
    padding: 8px;
    align-self: center;
    border: none;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.54);
    cursor: pointer;
    
}