.LoginBody{
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
}

.LoginBody form{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    width: 55vw;
    height: 80%;
    margin: 4rem 0;
}

.LoginBody form h1{
    font-weight: 600;
}

.LoginBody .inputSpan{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.LoginBody .inputSpan label{
    font-weight: 400;
}

.LoginBody .submitSpan{
    display: flex;
    flex-direction: column;
}

.LoginBody .submitSpan input{
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.LoginBody input{
    height: 3.3rem;
    background-color: var(--maincolor);
    border-radius: 0.3rem;
    border: 0;
    padding: 0 2rem;
    color: white;
    margin: 1rem 0;
}

.LoginBody a{
    font-size: 14px;
    color: black;
    font-weight: 400;
}

::placeholder {
    color: white;
    opacity: 1; /* Firefox */
  }
  
::-ms-input-placeholder { /* Edge 12 -18 */
color: white;
}