.noteContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    align-content: center;
    align-items: center;
    padding: 2rem;
    border: 2px dashed black;
    border-radius: 20px;
}
.noteText{
    overflow-y: auto;
    height: 75%;
    width: 100%;
}
.editMode textarea {
    background-color: transparent;
    border: none;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    resize: none;
}

.editMode .noteText {
    overflow-y: hidden;
}
.noteHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.noteHeader img{
    text-decoration: none;
    color: #000;
    font-size: 0.75rem;
}
.noteHeader button{
    background-color: transparent;
    border: none;
}
