.editSettingsBody {
    max-width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  
  .editSettingsBody h1 {
    align-self: center;
    margin-bottom: 1rem;
  }
  
  .editSettingsInputSpan {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .editSettingsInputSpan label {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
  .editSettingsInputSpan input,
  .editSettingsSelect {
    padding: 10px 20px;
    border: 3px solid var(--maincolor);
    border-radius: 20px;
  }
  
  .editSettingsSubmitSpan {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .editSettingsSubmitSpan input {
    padding: 10px 20px;
    background-color: var(--maincolor);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  